.bold_text {
    font-weight: bold;
}

.button_color {
    background-color: navy;
    border-color: navy;
}

.image_reduce {
    max-width: 100%;
}

.center_text{
    text-align: center;
}


body {
    background-color: black;
    color: white;
  }

.card_color{
    background-color: black
}

.right_align{
    text-align: right;
}

.nav_head_text{
    font-weight: bold;
    font-size: 30px;
}

.nav_list_text{
    font-size: 20px;
}

.image_padding{
   padding:40px
}
