.bold_text {
    font-weight: bold;
}

.button_color {
    background-color: navy;
    border-color: navy;
}

.image_reduce {
    max-width: 100%;
}

.center_text{
    text-align: center;
}

.nav_text{
    font-size: 30px;
    color: blue;
}

body {
    background-color: black;
    color: white;
  }

.card_color{
    background-color: black
}